#map {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
}

body { margin: 0; }

.popupPhoto{
    width: 300px;
}
.popupTitle{
    text-align: center;
}

.easy-button-button{
    background-color: lightcoral !important;
}
.dialogicon{
    width: 20px;
}
#summary{
    /*height: 300px;*/
    font-weight: bold;
    text-align: center;
}
.leaflet-control-dialog-inner{
    padding: 0 !important;
    z-index: 999999;
}
