#map {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
}

body { margin: 0; }

.popupPhoto{
    width: 300px;
}
.popupTitle{
    text-align: center;
}

.easy-button-button{
    background-color: lightcoral !important;
}
.dialogicon{
    width: 17px;
}
#summary{
    /*height: 300px;*/
    font-weight: bold;
    text-align: center;
}
.leaflet-control-dialog-inner{
    padding: 0 !important;
    z-index: 999999;
}
#slider{
    width:100%;
    height:20px;
    /*border:1px solid #000;*/
    overflow:hidden;
}
#sliderbar{
    width:0%;
    height:20px;
    /*border-right: 1px solid #000000;*/
    background: lightcoral;
}
#slidertext {
    color: #000000;
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
    left: 25px;
    position: relative;
    top: -18px;
}
.legendVehicules{
    font-size: 16px;
}
